<li id="ifthen_rule-<%= ifthen_rule.id %>">
  <p class="if"><%= ifthen_rule.if %></p>
  <p class="then">
    <%= ifthen_rule.then %>
    <%= image_tag ifthen_rule.picture.url if ifthen_rule.picture? %>
  </p>
  <p class="timestamp">
    Posted <%= time_ago_in_words(ifthen_rule.created_at) %> ago.
    <% if current_user?(ifthen_rule.user) %>
      <%= link_to "delete", ifthen_rule, method: :delete,
                                         data: { confirm: "You sure?" } %>
    <% end %>
  </p>
</li>
